/venv
.idea
loona/__pycache__/member.cpython-36.pyc
loona/__init__.pyc
loona/__pycache__/__init__.cpython-36.pyc
loona/member.pyc
loona/__pycache__/group.cpython-36.pyc
loona/__pycache__/subunit.cpython-36.pyc
.vscode/settings.json
